@import "tailwindcss";

@keyframes modal-animation {
  0% {
    transform: translateY(100vh) scale(0.5);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes modal-animation-out {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.5);
  }
}

.modal-animation-in {
  animation: modal-animation 0.3s forwards;
}

.modal-animation-out {
  animation: modal-animation-out 0.5s forwards;
}

* {
  user-select: none;
}

.h-main {
  height: calc(100dvh - 64px);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

body,
html {
  background-color: #f8f9fa;
}

@theme {
  --color-bg: #f8f9fa;
  --color-primary: #6466f1;
  --color-gray: #666666;
  --color-lightgray: #888888;
  --color-border: #eaecef;
  --radius-item: 10px;
}
